﻿@model Consumo_de_Jugos.Models.Ciudad

@{
    ViewBag.Title = "Delete";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />


<h2>Elimiar</h2>

<ul class="nav navbar-nav navbar-right">

    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>


<div>
    <h3>Ciudad</h3>
    

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <hr />

    <dl class="dl-horizontal">
        <dd>
            <h3>@Html.DisplayNameFor(model => model.Nombre)</h3>
        </dd>

        <dd>
            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar Ciudad" class="btn btn-danger" />
        <h4>Esta seguro de eliminar este registro</h4>
    </div>

       
        

    }

</div>
