﻿@model Consumo_de_Jugos.Models.Ciudad

@{
    ViewBag.Title = "Details";
}
<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />


<h2>Informacion de la</h2>

<ul class="nav navbar-nav navbar-right">

    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

<div>
    <h4>Ciudad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h3> @Html.DisplayNameFor(model => model.Nombre)</h3>
        </dd>

        <dd>
           <h2> @Html.DisplayFor(model => model.Nombre)</h2>
        </dd>

    </dl>
</div>

