﻿@model IEnumerable<Consumo_de_Jugos.Models.Ciudad>




@{
    ViewBag.Title = "Ciudades";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />


<h2>Ciudades</h2>

<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

    <p>

       
        @Html.ActionLink("Registrar Ciudad", "Create", new { }, new { @class = "btn btn-primary btn-lg" })

    </p>
    <table class="table">
        <tr>
            <th>
                <h3> @Html.DisplayNameFor(model => model.Nombre)</h3>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Ciudadid }, new { @class = "btn btn-info btn-lg" })
                @* @Html.ActionLink("Detalles", "Details", new { id = item.Ciudadid }, new { @class = "btn btn-warning btn-lg" })*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Ciudadid }, new { @class = "btn btn-danger btn-lg" })
            </td>
        </tr>
        }

    </table>


