﻿ @model Consumo_de_Jugos.Models.Usuario

@{
    ViewBag.Title = "Create";
}



<h2>Registrar</h2>

<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Usuario</h4>
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
    <div class="col-md-12">
        <table class="table">
            <tr>

                <th>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ciudadid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Ciudadid", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Ciudadid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sedeid, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Sedeid", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Sedeid, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </th>

            

                <th>

                </th>


                <th>

                    
                        <img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />
                        
                </th>


            </tr>


            

        </table>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar Usuario" class="btn btn-success" />
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Ciudadid").change(function () {
                $("#Sedeid").empty();
                $("#Sedeid").append('<option value=" 0 ">[Elija una sede...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSedes")',
                    dataType: 'json',
                    data: { ciudadid: $("#Ciudadid").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#Sedeid").append('<option value="'
                                + data.Sedeid + '">'
                                + data.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve sedes.' + ex);
                    }
                });
                return false;
            })
        });
    </script>

}
