﻿@model IEnumerable<Consumo_de_Jugos.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Usuarios</h2>

<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

<p>
    @Html.ActionLink("Registrar Usuario", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.Ciudad.Nombre)</h4>
        </th>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.Sede.Nombre)</h4>
        </th>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.NombreUsuario)</h4>
        </th>
        <th>
            <h4> @Html.DisplayNameFor(model => model.Nombres)</h4>
        </th>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.Apellidos)</h4>
        </th>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.Documento)</h4>
        </th>
        <th>
            <h4>  @Html.DisplayNameFor(model => model.Direccion)</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Ciudad.Nombre)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Sede.Nombre)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.NombreUsuario)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Nombres)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Apellidos)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Documento)</h5>
            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.Direccion)</h5>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Usuarioid }, new { @class = "btn btn-info btn-lg" }) 
                @* @Html.ActionLink("Details", "Details", new { id = item.Usuarioid }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Usuarioid }, new { @class = "btn btn-danger btn-lg" })
            </td>
        </tr>
    }

</table>
