﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar" }))
    {
        @Html.AntiForgeryToken()

        


        




        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                @if (User.IsInRole("Admin"))
                {
                    <li>

    
                         @Html.ActionLink("Usuarios", "Index", "Usuarios", new { }, new { @class = "btn btn-default btn-lg" })
                         @Html.ActionLink("Ciudades", "Index", "Ciudades", new { }, new { @class = "btn btn-default btn-lg" })

                    </li>
                    <li>

                        @Html.ActionLink("Sedes", "Index", "Sedes", new { }, new { @class = "btn btn-default btn-lg" })
                        @Html.ActionLink("Dispensadores", "Index", "Maquinas", new { }, new { @class = "btn btn-default btn-lg" })

                    </li>
                    <li>
                    
                    </li>
                    <li>

                    </li>
                    <li>

                       
                        @Html.ActionLink("Consultar Consumos", "ReporteTemporal", "ReportesUsuarios", new { }, new { @class = "btn btn-default btn-lg" })
                        @Html.ActionLink(" Registrar Consumos", "Index", "Consumoes", new { }, new { @class = "btn btn-default btn-lg" })

                    </li>
                }
            </ul>

            <ul class="nav navbar-nav">

                <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-warning btn-lg">Cerrar sesión</a></li>


            </ul>

        </div>
        <div>

            @Html.ActionLink("Cambiar Contraseña", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-lg" })

        </div>
        @*<ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-lg" })
                    @Html.ActionLink("Hola " + Usuario + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-lg" })

                </li>




            </ul>*@

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">


        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</li>

    </ul>
}
