﻿@model Consumo_de_Jugos.Models.Sede

@{
    ViewBag.Title = "Create";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Registrar</h2>

<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Sede</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>@Html.LabelFor(model => model.Ciudadid, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
            <div class="col-md-10">
                @Html.DropDownList("Ciudadid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ciudadid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar Sede" class="btn btn-success" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
