﻿@model Consumo_de_Jugos.Models.Sede

@{
    ViewBag.Title = "Details";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Informacion de la</h2>

<ul class="nav navbar-nav navbar-right">

    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

<h3>Sede</h3>
<hr />
@*  <dl class="dl-horizontal">
            <dd>
                @Html.DisplayNameFor(model => model.Ciudad.Nombre)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Ciudad.Nombre)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayNameFor(model => model.Nombre)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>*@




<table class="table">
    <tr>
               
        <th>
            <h4>@Html.DisplayNameFor(model => model.Nombre)</h4>
        </th>

        <th>
            <h4>  @Html.DisplayNameFor(model => model.Ciudad.Nombre)</h4>
        </th>


        <th>

        </th>


    </tr>


    <tr>


        <th>
            <h2> @Html.DisplayFor(model => model.Nombre)</h2>
        </th>

        <th>
            <h2> @Html.DisplayFor(model => model.Ciudad.Nombre)</h2>
        </th>

        <th>

        </th>

    </tr>


</table>








