﻿@model IEnumerable<Consumo_de_Jugos.Models.Sede>

@{
    ViewBag.Title = "Sedes";
}


<table align="left">
    <tr>
        <th >
            <h2>Sedes</h2>

            @Html.ActionLink("Registrar Sede", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
        </th>
    </tr>
</table>

<table align="center">
    <tr>
    <th >
        <img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />
    </th>
        </tr>
    </table>
   
<table align="right">
    <tr>
    <th >
        @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
    </th>
    </tr>

</table>
<table class="table">
    <tr>

        <th>
            <h3> @Html.DisplayNameFor(model => model.Nombre)</h3>
        </th>

        <th>
            <h3>@Html.DisplayNameFor(model => model.Ciudad.Nombre)</h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
            </td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Sedeid }, new { @class = "btn btn-info btn-lg" })
                @* @Html.ActionLink("Detalles", "Details", new { id = item.Sedeid }, new { @class = "btn btn-danger btn-lg" })*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Sedeid }, new { @class = "btn btn-warning btn-lg" })
            </td>
        </tr>
    }

</table>

