﻿@model Consumo_de_Jugos.Models.Jugo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jugo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Jugoid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
