﻿@model IEnumerable<Consumo_de_Jugos.Models.Jugo>

@{
    ViewBag.Title = "Index";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Listado de</h2>
<h3>Jugos</h3>

<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
</ul>


<p>
    @Html.ActionLink("Registrar Jugo", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            <h3> @Html.DisplayNameFor(model => model.Nombre) </h3>
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <h4> @Html.DisplayFor(modelItem => item.Nombre)</h4>
        </td>

        
        <td align="right">
            @Html.ActionLink("Editar", "Edit", new { id = item.Jugoid }, new { @class = "btn btn-info btn-lg" })
            @*@Html.ActionLink("Details", "Details", new { id = item.Jugoid }) *@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Jugoid }, new { @class = "btn btn-danger btn-lg" })
        </td>
    </tr>
    }

</table>
