﻿@model Consumo_de_Jugos.Models.Maquina

@{
    ViewBag.Title = "Delete";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Eliminar</h2>

<ul class="nav navbar-nav navbar-right">

    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })

</ul>


<div>
    <h3>Dispensador</h3>
   
    <table class="table">
        <tr>

            <th>
                <h3>@Html.DisplayNameFor(model => model.Codigo)</h3>
            </th>

            <th>
                <h3>   @Html.DisplayNameFor(model => model.Sede.Nombre)</h3>
            </th>

            <th>
                <h3>   @Html.DisplayNameFor(model => model.JugoB1)</h3>
            </th>
            <th>
                <h3>   @Html.DisplayNameFor(model => model.JugoB2)</h3>
            </th>
            <th>
                <h3>   @Html.DisplayNameFor(model => model.JugoB3)</h3>
            </th>
            <th>
                <h3>   @Html.DisplayNameFor(model => model.JugoB4)</h3>
            </th>
            <th>

            </th>


        </tr>


        <tr>


            <th>
                <h2> @Html.DisplayFor(model => model.Codigo)</h2>
            </th>

            <th>
                <h2>  @Html.DisplayFor(model => model.Sede.Nombre)</h2>
            </th>

            <th>
                <h2> @Html.DisplayFor(model => model.JugoB1)</h2>
            </th>
            <th>
                <h2> @Html.DisplayFor(model => model.JugoB2)</h2>
            </th>
            <th>
                <h2> @Html.DisplayFor(model => model.JugoB3)</h2>
            </th>
            <th>
                <h2> @Html.DisplayFor(model => model.JugoB4)</h2>
            </th>
            <th>

            </th>

        </tr>


    </table>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            <h3>Esta seguro de eliminar este registro</h3>
        </div>
    }
</div>
