﻿@model Consumo_de_Jugos.Models.Maquina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JugoB1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JugoB1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JugoB2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JugoB2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JugoB3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JugoB3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JugoB4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JugoB4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ciudadid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
