﻿@model Consumo_de_Jugos.Models.Maquina

@{
    ViewBag.Title = "Edit";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Editar</h2>

<ul class="nav navbar-nav navbar-right">

    @Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })
</ul>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3>Dispensador</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Maquinaid)

    <div class="form-group">
        <h4> @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4> @Html.LabelFor(model => model.Sedeid, "Sedeid", htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.DropDownList("Sedeid", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Sedeid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4>@Html.LabelFor(model => model.JugoB1, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.JugoB1, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.DropDownList("Jugoid", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.JugoB1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4>@Html.LabelFor(model => model.JugoB2, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.JugoB2, new { htmlAttributes = new { @class = "form-control" } })

            @*@Html.DropDownList("Jugoid", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.JugoB2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4>@Html.LabelFor(model => model.JugoB3, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.JugoB3, new { htmlAttributes = new { @class = "form-control" } })

            @*@Html.DropDownList("Jugoid", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.JugoB3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h4>@Html.LabelFor(model => model.JugoB4, htmlAttributes: new { @class = "control-label col-md-2" })</h4>
        <div class="col-md-10">
            @Html.EditorFor(model => model.JugoB4, new { htmlAttributes = new { @class = "form-control" } })

            @*@Html.DropDownList("Jugoid", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.JugoB4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Actualizar" class="btn btn-success" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
