﻿@model IEnumerable<Consumo_de_Jugos.Models.Maquina>

@{
    ViewBag.Title = "Maquinas";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />




<h2>Lista de Dispensadores</h2>
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sede.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sede.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Ciudadid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Ciudadid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Ciudadid })
                </td>
            </tr>
        }

    </table>

    ////////////////////////////////////////////////////////////////////////////////////////////////////////*@


<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

<p>
    @Html.ActionLink("Registrar Dispensador", "Create", new { }, new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table">
    <tr>

        <th >
            <h4> @Html.DisplayNameFor(model => model.Codigo)</h4>
        </th>

        <th>
            <h4>@Html.DisplayNameFor(model => model.Sede.Nombre)</h4>
        </th>

        <th>
            <h4>@Html.DisplayNameFor(model => model.JugoB1)</h4>
        </th>

        <th>
            <h4>@Html.DisplayNameFor(model => model.JugoB2)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.JugoB3)</h4>
        </th>
        <th>
            <h4>@Html.DisplayNameFor(model => model.JugoB4)</h4>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.Codigo)</h5>
        </td>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.Sede.Nombre)</h5>
        </td>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.JugoB1)</h5>
        </td>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.JugoB2)</h5>
        </td>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.JugoB3)</h5>
        </td>

        <td align="center">
            <h5> @Html.DisplayFor(modelItem => item.JugoB4)</h5>
        </td>

        <td align="right">
            @Html.ActionLink("Editar", "Edit", "Maquinas", new { id = item.Maquinaid }, new { @class = "btn btn-info btn-lg" })
            @* @Html.ActionLink("Detalles", "Details", new { id = item.Sedeid }, new { @class = "btn btn-danger btn-lg" })*@
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Maquinaid }, new { @class = "btn btn-warning btn-lg" })
        </td>
    </tr>
    }

</table>