﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />
    <!--<img id="estirada" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" src="Imagenes/logo_smar_fit.png" />-->
</div>

<div>
    @Html.Partial("_LoginPartial")
</div>
