﻿@model Consumo_de_Jugos.ViewModels.ReporteUsuario


@{
    ViewBag.Title = "ReporteTemporal";
}

<img style="display: block; margin-left: auto; margin-right: auto;opacity: 0.8;filter: alpha(opacity=30);" src="~/Content/Imagenes/logo_smar_fit.png" />

<h2>Reporte de Consumos</h2>


<ul class="nav navbar-nav navbar-right">
    @Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })
</ul>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="panel-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Fecha_Inicio, new { htmlAttributes = new { @type = "date", @class = "form-control datefield" } })
                    @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha_Fin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Fecha_Fin, new { htmlAttributes = new { @type = "date", @class = "form-control datefield" } })
                    @Html.ValidationMessageFor(model => model.Fecha_Fin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuarioid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("Usuarioid", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Usuarioid, "", new { @class = "text-danger" })


                    @*@Html.EditorFor(model => model.ID_Conductor, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                        @Html.DropDownList("Usuarioid", (IEnumerable<SelectListItem>)ViewData["ComboConductor"], "Seleccione...", htmlAttributes: new { @id = "ID_Conductor", @class = "form-control populate", @data_plugin_selectTwo = "true" })
                        @Html.ValidationMessageFor(model => model.ID_Conductor, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Generar" class="btn btn-primary" />
                    @* @Html.ActionLink("PDF", "PDF", new { }, new { @class = "btn btn-default", target = "_blank" })
        @Html.ActionLink("XLS", "XLS", new { }, new { @class = "btn btn-default" })*@
                </div>
            </div>

            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Ciudad)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Sede)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Jugo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Maquina)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.Fecha_consumo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Tipodeconsumo)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Observaciones)
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @**@  @foreach (var item in Model.ReporteTemp)
                    {
                    <tr>

                        <th>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Ciudad)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Sede)

                        <th>
                            @Html.DisplayFor(modelItem => item.Jugo)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Maquina)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Fecha_consumo)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Tipodeconsumo)
                        </th>

                        <th>
                            @Html.DisplayFor(modelItem => item.Observaciones)
                        </th>


                    </tr>
                    }
                </tbody>

            </table>

        </div>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
