﻿@model Consumo_de_Jugos.Models.Consumo

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ActionLink("Regresar al listado", "Index", new { }, new { @class = "btn btn-default btn-lg" })


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Consumo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Usuarioid, "Usuarioid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Usuarioid", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Usuarioid, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Sedeid, "Sedeid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Sedeid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sedeid, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Ciudadid, "Ciudadid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ciudadid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ciudadid, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Maquinaid, "Maquinaid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Maquinaid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Maquinaid, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Jugo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jugo, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Jugo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormadeConsumo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormadeConsumo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FormadeConsumo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha_consumo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha_consumo, new { htmlAttributes = new { @type = "date", @class = "form-control datefield" } })

                @Html.ValidationMessageFor(model => model.Fecha_consumo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Usuarioid").change(function () {
                $("#Sedeid").empty();
                $("#Sedeid").append('<option value=" 0 ">[Elija una sede...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSedes")',
                    dataType: 'json',
                    data: { usuarioid: $("#Usuarioid").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#Sedeid").append('<option value="'
                                + data.Sedeid + '">'
                                + data.Nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve sedes.' + ex);
                    }
                });
                return false;
            })
        });*@
    </script>

}
