﻿@model Consumo_de_Jugos.Models.Consumo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maquina.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maquina.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sede.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugooid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugooid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormadeConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormadeConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Consumoid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
