﻿@model IEnumerable<Consumo_de_Jugos.Models.Consumo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Regresar al inicio", "Index", "Home", new { }, new { @class = "btn btn-default btn-lg" })

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-default btn-warning" })
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maquina.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.FullNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jugo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormadeConsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_consumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maquina.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.FullNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jugo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormadeConsumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_consumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Consumoid }) |
                @Html.ActionLink("Details", "Details", new { id = item.Consumoid }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Consumoid })
            </td>
        </tr>
    }

</table>*@
